.o_wsale_products_item_title {
    font-size: 1.5rem !important;
}
.product_price {
    font-size: 1.2rem !important;
    font-weight: bold;
}
.o_wsale_product_information_text {
    padding: 0.8rem !important;
}
